.mainInput {
  max-width: 100%;
  width: 400px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 10px 3px grey;
  border: 0;
  border-radius: 50px;
  outline: 0;
  padding: 10px 35px;
}

.todoListInput {
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 20px;
  outline: 0;
  border: 0;
}
