.filterBtns-container {
  display: flex;
  justify-content: space-evenly;
  width: 430px;
}
.filterBtns {
  width: 80px;
  height: 80px;
  border: 0;
  transition: all 200ms ease-in;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background: #7f8ff4;
}
.filterBtns:hover {
  background: #6c7ff2;
}
.filterBtns:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.active_filterBtn {
  border: double;
}
